<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Mobile3_Lab1_Android.Mobile3_Lab1_Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Mobile3_Lab1_Android"></application>
</manifest>