<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>AzureReadiness: DevCamp</title>
	  <link rel="stylesheet" href="{{ relative }}style.css">
   </head>
   <body>
      <div class="container">
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ relative }}README.htm">Home</a>
            </div>
        </header>
        {{ content }}
      </div>
  </body>
</html>