body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    color: #212121;
}

h1 {
    font-size: 42px;
    font-weight: lighter;
    opacity: .3;
    margin-bottom: 0px
}

form {
    width: 450px;    
    margin: 30px;
}

a, a:hover a:visited {
    color: #0063B1;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    background-color: #0063B1;
    color: white;
    font-size: 14px;
    width: 80px;
    min-height: 30px;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

input:disabled {
    opacity: 0.3;
}

.stepLabel {
    font-size: 24pt;
    font-weight: lighter;
    opacity: .3;
    margin-top: 20px
}

.matchLabel {
    background-color: #5AB200;
    padding: 10px;
    text-align: center;
    color: white;
}

 .noMatchLabel {
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
}

#analysisResults {
    width:240px
}