<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="container" style="margin-top:80px">
		<% include content %>
		<hr />
	</div>
	 
	<script src="../jquery/jquery.js"></script>	 
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	 
</body>
</html>