<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/"><img style="margin-bottom:-100px" src="/img/header.png"/></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			 
			</ul>
		</div>		 
	</div>
</div>