.theme-container
  .navbar, .navbar .links
    background-color #4F86C6

.navbar .home-link .site-name
  color white

.nav-links
  .nav-link, .repo-link, .dropdown-title, .nav-link.router-link-active
    color white
  .nav-link:hover, .dropdown-title:hover, .repo-link:hover
    color white

  .dropdown-item .nav-link
    color $textColor

.sidebar-button
  color white

.sidebar .nav-links
  .nav-link, .repo-link, .dropdown-title
    color $textColor

