<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intellipix</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .ng-cloak { display: none !important; }
    a img {
      cursor: pointer;
    }
    .image-modal img {
      width: 100%;
    }
  </style>
</head>
<body class="ng-cloak">

  <div class="container body-content" ng-controller="mainCtrl as ctrl">

    <h1>Intellipix</h1>

    <!-- Panel containing image-upload and search controls -->
    <div class="well">
      <form ng-if="!ctrl.analysis.inProgress">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="imageFile">Select Image to Analyze:</label>
              <input type="file" id="imageFile" name="imageFile" on-file-selected="ctrl.imageFileSelected(file)">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="searchText">Search:</label>
              <div class="input-group">
                <input type="text" id="searchText" ng-model="ctrl.searchText" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="ctrl.clearSearchText()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <p ng-if="ctrl.analysis.inProgress">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Analyzing Image ...
      </p>
    </div>

    <!-- Panel showing error message if upload or image analysis fails -->
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="ctrl.analysis.error">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{ctrl.analysis.error.message}}
    </div>

    <!-- Thumbnail images -->
    <div class="row">
      <div class="col-sm-12">
          <a ng-click="ctrl.showImageDetails(img)" ng-repeat="img in ctrl.images | filter:ctrl.imageFilter">
            <img ng-src="{{img.url}}" width="192" ng-attr-title={{img.metadata.caption}} style="padding-right: 16px; padding-bottom: 16px">
          </a>
      </div>
    </div>

    <!-- Modal window used to show enlarged images -->
    <div class="modal fade image-modal" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ctrl.current.metadata.caption}}</h4>
          </div>
          <div class="modal-body">
            <img ng-src="{{ctrl.current.fullUrl}}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <script src="index.js"></script>

</body>
</html>