body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

.navbar {  
  border: 0px solid transparent;
}

.navbar-inverse {
  background-image: linear-gradient(rgb(0,163, 217) 0px, rgb(0,163, 217) 0%);
  height: 100px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow:none;
  font-size: 16pt;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  padding-top: 40px;
  padding-bottom: 10px;
}

a:focus, a:hover, a:visited {
  text-decoration: none;
  color:#000
}

textarea#styled {
	width: 460px;
	height: 120px;
	border: 1px solid #cccccc;
	padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.btn-default {  
  margin-top: 10px;  
  background-image: none;
  text-shadow: none;
  color: #FFF; 
  border-color: #CCC;
  background-color: #00A3D9;
}

.comment {
  font-size: 16pt;
}


.mugshot {
	max-height:140px;
	max-width:140px;
  border:1px solid #808080;
  margin-top: 48px;
}

.center { 
	text-align:center;
}

#comments {
	display:none;
}